body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.hidden{
  display: none;
}
#overlay{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.63);
}
#overlay-content{
  padding-top: 20px;
  box-sizing: border-box;
  position: absolute;
  height: 200px;
  top: calc(50vh - 100px);
  width: 300px;
  left: calc(50vw - 150px);
  background-color: white;
  color: black;
}
a{
  text-decoration: none;
}
